<p id="notice"><%= notice %></p>

<p>
  <strong>Cepas:</strong>
  <%= @vino.cepas %>
</p>

<p>
  <strong>Porcentaje:</strong>
  <%= @vino.porcentaje %>
</p>

<%= link_to 'Edit', edit_vino_path(@vino) %> |
<%= link_to 'Back', vinos_path %>
